/* Custom CSS for Obsidian.md Code Blocks */

.cm-line {
    font-family: "MonoLisa", monospace !important;
}

.cm-editor {
    border: 1px solid grey !important;
    background-color: #f8f8f8 !important; /* Light background color */
}

.cm-line {
    background-color: #f8f8f8 !important; /* Ensure the background color applies to each line */
}
